{% extends 'quiz/base.html' %}
{% block content %}

<div class="container py-5">
    <div class="card">
        <div class="card-body p-5">
            
            <h1>Quiz App</h1>
            
            {% if user.is_authenticated %}
            <p>Witaj, <strong>{{ user.username }}</strong>.</p>
            <p>Twoje punkty: <strong>{{ profil.points }}</strong></p>{% else %}
            <p class="lead">Zaloguj się lub utwórz konto, aby korzystać z aplikacji.</p>
            
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
